{% load static %}
<link rel="stylesheet" href="{% static 'myapp/register.css' %}">
{% block content %}
<div class="center-content">
    <h1>Register</h1>

    <img src="{% static 'images/rooster.png' %}" alt="Rooster" class="rooster-image">

    <form method="POST">
        {% csrf_token %}
        <div>
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
</div>

{% endblock %}
